body {
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: arial;
}

.entry {
  display: block;
  width: 100%;
  text-align: center;
}

.notes {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 18px;
}

#title {
  width: 100%;
  padding: 0px;
  min-width: 100vw;
}

.entry button {
  min-width: 45px;
  height: 40px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: white;
  border: 2px solid black;
}

#sudoku-board {
  margin: auto;
  margin-top: 5px;
  border: 2px solid black;
  text-align: center;
  border-collapse: collapse;
}

td {
  border: 1px solid #999999;
  margin: 0px;
  font-size: 39px;
  position: relative;
  height: 54px;
  width: 54px;
  box-sizing: border-box;
}

[data-editable="false"] {
  font-weight: bold;
}

.bottom-border td {
  border-bottom: 2px solid black;
}

.right-border {
  border-right: 2px solid black;
}

.change-num {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  text-align: center;
  font-size: 50px;
  background-color: transparent;
}

.selected {
  outline: 3px solid black !important;
  /*width:74px;
  height:74px;*/
}

.hline {
  height: 121px;
  width: 2px;
  background-color: #999999;
  display: inline-block;
  margin-top: -20px;
  margin-bottom: -42px;
}